<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-card>
    <div class="slide-in-right">
        <form [formGroup]="form" >
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="text-center">
                        <h5>
                            Usuario
                        </h5>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="false">
                    <label>id</label>
                    <input id="input" type="number" pInputText formControlName="id" [(ngModel)]="id">
                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['id'].valid&&form.controls['id'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <label>login </label>
                    <input type="text" pInputText formControlName="login" [(ngModel)]="login">
                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['login'].valid&&form.controls['login'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <label>password</label>
                    <input type="text" pInputText formControlName="password" [(ngModel)]="password">
                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['password'].valid&&form.controls['password'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <label>Nombres</label>
                    <input id="input" type="text" pInputText formControlName="nombres" [(ngModel)]="nombres">
                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['nombres'].valid&&form.controls['nombres'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <label>Apellidos</label>
                    <input id="input" type="text" pInputText formControlName="apellidos" [(ngModel)]="apellidos">
                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['apellidos'].valid&&form.controls['apellidos'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <label>Entidad</label>
                    <p-dropdown [options]="entidads" formControlName="id_entidad" optionLabel="nombre" *ngIf='entidads.length > 1'
                        [(ngModel)]="id_entidad" [showClear]="true"></p-dropdown>
                    <span>
                        <p-message severity="error" text="Verifique entidad"
                            *ngIf="!form.controls['id_entidad'].valid&&form.controls['id_entidad'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true"></div>


                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <button pButton type="button" label="Guardar" (click)="save()"></button>
                </div>
                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <button pButton type="button" label="Limpiar" (click)="clean()"></button>
                </div>

            </div>
        </form>
    </div>
</p-card>



<p-table [tableStyle]="{'table-layout':'auto'}" [columns]="cols" [value]="usuarios" [lazy]="true"
    (onLazyLoad)="loadUsuarioLazy($event)" [paginator]="pagitatorTable" [rows]="rowsTable" [customSort]="true"
    [rowsPerPageOptions]="[10,20,30]" [totalRecords]="totalRecords" [loading]="loading" selectionMode="single"
    [(selection)]="selectedUsuario" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="caption">
        Lista Usuario
        <div class="ui-inputgroup searchbox ui-fluid" *ngIf="true">
            <input type="text" (keyup.enter)="filtrar()" pInputText [(ngModel)]="filtro">
            <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" *ngIf="col.orden"></p-sortIcon>
            </th>
            <th colspan="2">
                Acciones
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td *ngIf="true">
                <button pButton type="button" label="Editar" (click)="loadSelect(rowData['id'])"></button>
            </td>
            <td *ngIf="false">
                <button pButton type="button" label="Eliminar" (click)="delete()"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

