<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-card>
    <div class="slide-in-right">
        <form [formGroup]="form">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="text-center">
                        <h5>
                            Encuesta
                        </h5>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="false">
                    <label>id</label>
                    <input id="input" type="number" pInputText formControlName="id" [(ngModel)]="id">
                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['id'].valid&&form.controls['id'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <label>id_usuario</label>
                    <input id="input" type="number" pInputText formControlName="id_usuario" [(ngModel)]="id_usuario">
                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['id_usuario'].valid&&form.controls['id_usuario'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <label>nDocumento</label>
                    <input id="input" type="number" pInputText formControlName="ndocumento" [(ngModel)]="ndocumento">
                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['ndocumento'].valid&&form.controls['ndocumento'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <label>email</label>
                    <input type="text" pInputText formControlName="email" [(ngModel)]="email" email>
                    <span>
                        <p-message severity="error" text="Correo invalido"
                            *ngIf="!form.controls['email'].valid&&form.controls['email'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <label>comentario</label>
                    <input type="text" pInputText formControlName="comentario" [(ngModel)]="comentario">
                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['comentario'].valid&&form.controls['comentario'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <label>marcaFavorita</label>
                    <p-dropdown [options]="marcafavoritas" formControlName="marcafavorita" optionLabel="nombre" *ngIf='marcafavoritas.length > 1'
                        [(ngModel)]="marcafavorita" [showClear]="true"></p-dropdown>
                    <span>
                        <p-message severity="error" text="Verifique marcafavorita"
                            *ngIf="!form.controls['marcafavorita'].valid&&form.controls['marcafavorita'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <label>fecha</label>
                    <p-calendar [(ngModel)]="fecha" [monthNavigator]="true" [yearNavigator]="true" formControlName="fecha"
                yearRange="1900:2060" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy" [locale]="es"></p-calendar>


                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['fecha'].valid&&form.controls['fecha'].dirty">
                        </p-message>
                    </span>
                </div>



                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <button pButton type="button" label="Guardar" (click)="save()"></button>
                </div>
                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <button pButton type="button" label="Limpiar" (click)="clean()"></button>
                </div>

            </div>
        </form>
    </div>
</p-card>




<p-table [tableStyle]="{'table-layout':'auto'}" [columns]="cols" [value]="encuestas" [lazy]="true"
    (onLazyLoad)="loadEncuestaLazy($event)" [paginator]="pagitatorTable" [rows]="rowsTable" [customSort]="true"
    [rowsPerPageOptions]="[10,20,30]" [totalRecords]="totalRecords" [loading]="loading" selectionMode="single"
    [(selection)]="selectedEncuesta" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="caption">
        Lista Encuesta
        <div class="ui-inputgroup searchbox ui-fluid" *ngIf="true">
            <input type="text" (keyup.enter)="filtrar()" pInputText [(ngModel)]="filtro">
            <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" *ngIf="col.orden"></p-sortIcon>
            </th>
            <th colspan="2">
                Acciones
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                <div *ngIf="col.field !== 'fecha'"> {{rowData[col.field] }}</div>
                <div *ngIf="col.field === 'fecha'"> {{rowData[col.field] | date:"dd/MM/yyyy"}}</div>
                
            </td>
            <td *ngIf="true">
                <button pButton type="button" label="Editar" (click)="loadSelect(rowData['id'])"></button>
            </td>
            <td *ngIf="true">
                <button pButton type="button" label="Eliminar" (click)="delete(rowData['id'])"></button>
            </td>
        </tr>
    </ng-template>

</p-table>