/* You can add global styles to this file, and also import other style files */

//configuracion font-awesome

//font awesome para iconos


:focus {
    outline: none;
}


//configuracion tema primeng
@import "~primeng/resources/themes/rhea/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";

body .ui-accordion .ui-accordion-content {
    padding: 0px !important;
    background: #ddd !important;
    border: 0px solid #3f94e9;
}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    background-color: #005b9f;
    border: 1px solid #005b9f;
    color: #888585;
}

body .ui-button {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #84BCF8, #3cb0fd);
    color: black;
    border: none;
    border-radius: 28px;
    margin: 0.2em;
}

body .ui-button:enabled:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #84BCF8);
    text-decoration: none;
    cursor: pointer;
    color: black;
}

body .ui-dialog .ui-dialog-titlebar {
    border: 1px solid #2dc9ff;
    font-weight: normal;
    color: black;
    padding: 1em;
    border-bottom: 0 none;
    background-color: #2dc9ff;
    text-align: center;
}

body .ui-dropdown {
    width: 90%;
    border-radius: 25px;
}

body .ui-dropdown .ui-dropdown-trigger {
    border-radius: 25px;
    margin-right: 5px;
}

body .ui-inputtext {
    border-radius: 25px;
    padding-left: 9px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: 1px solid #E0E0E0 !important;
}

body .ui-message {
    margin: 3px !important;
}

body .ui-panel {
    border-radius: 12px !important;
    box-shadow: -4px 6px 5px grey !important;
}

body .ui-panel .ui-panel-content {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: -9px;
}

body .ui-panel .ui-panel-titlebar {
    border: 1px solid #587faf !important;
    padding: 1em 1em !important;
    background-color: #587faf !important;
    color: rgba(0, 0, 0, 0.87) !important;;
    border-top-left-radius: 12px !important;;
    border-top-right-radius: 12px !important;;
    height: 69px;
    text-align: center;
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: black;
    background-color: black;
    color: #ffffff;
}

body .ui-table .ui-table-thead > tr > th {
    padding: 0.571em 0.857em;
    font-weight: normal !important;
    color: black !important;
    background-color: #84BCFC !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

body .ui-table .ui-table-thead > tr > th {
    border: 0px !important;
}

body .ui-table .ui-table-tbody > tr > td {
    background-color: inherit;
    border: 0px !important;
}

body .ui-table .ui-table-tbody > tr:nth-child(even) {
    background-color: #f2f5f9; 
}

body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
    background-color: rgba(187, 206, 255, 0.58);
    color: black;
}

body .ui-table .ui-table-tbody > tr.ui-state-highlight {
    background-color: rgba(187, 206, 255, 0.58);
    color: black;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
    border: 1px solid #587faf !important;
    padding: 0.5em 0.5em !important;
    background-color: #587faf !important;
    color: rgba(0, 0, 0, 0.87) !important;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    text-align: center;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li, body .ui-tabview.ui-tabview-left .ui-tabview-nav li, body .ui-tabview.ui-tabview-right .ui-tabview-nav li {
    border: 1px solid #333333;
    background-color: #333333;
    transition: background-color 0.2s;
    padding: 0.5em 0.5em !important;
    color: rgba(0, 0, 0, 0.87) !important;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    text-align: center;
}

body .ui-paginator {
    background-color: white;
    border: 0px !important;
    padding: 0;
}

.contenedor-guardar {
    width: 100%;
    top: 57px;
    position: relative;
}

.login-body .layout-wrapper .layout-main {
    background-color: #2d353c;
}

/*td {
    word-break: break-word;
}*/

.l-centrar {
    display: flex;
    align-items: center;
}

.fwb {
    font-weight: bold;
}

.help {
    display: block;
    font-size: .75rem;
    margin-top: .25rem;
}

.h3, h3 {
    font-size: 1rem !important;
    text-align: center;
}

.help.is-danger {
    color: #ff3860;
}

.layout-footer {
    font-size: 12px !important;
}

.m3 {
    margin-right: 3px !important;
    margin-left: 3px !important; 
}

.ui-dropdown {
    min-width: inherit;
}


.scroll {
    overflow: scroll;
    width: 100%;
}

.ui-g-12 {
    padding: 1em !important;
}

.ui-paginator .ui-dropdown {
    width: inherit;
}

.ui-table p-sorticon {
    float: right;
}

.ui-toast {
    z-index: 101010 !important;
}

.subrayar {
    text-decoration: underline;
}

.ui-calendar {
    width: 100%;
}

.ui-float-label {
    margin-top: 30px;
    margin-bottom: 15px;
}

.ui-float-label>label {
    padding-left: 9px;
    color: black;
}

.ui-inputtext {
    width: 90%;
    line-height: 2;
}

.ui-table table {
    table-layout: inherit !important;
    font-size: 90%;
}

.studeSol .ui-fieldset {
     height: auto !important;
           
    }

