<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-card>
    <div class="slide-in-right">
        <form [formGroup]="form">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="text-center">
                        <h5>
                            Contenido
                        </h5>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="false">
                    <label>id</label>
                    <input id="input" type="number" pInputText formControlName="id" [(ngModel)]="id">
                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['id'].valid&&form.controls['id'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <label>titulo</label>
                    <input type="text" pInputText formControlName="titulo" [(ngModel)]="titulo">
                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['titulo'].valid&&form.controls['titulo'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <label>descripcion</label>
                    <input type="text" pInputText formControlName="descripcion" [(ngModel)]="descripcion">
                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['descripcion'].valid&&form.controls['descripcion'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="false">
                    <label>fecha</label>
                    <p-calendar [(ngModel)]="fecha" formControlName="fecha" dateFormat="mm/dd/yy"></p-calendar>
                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['fecha'].valid&&form.controls['fecha'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <label>Usuario</label>
                    <p-dropdown [options]="usuarios" formControlName="id_usuario" optionLabel="login" *ngIf='usuarios.length > 1'
                        [(ngModel)]="id_usuario" [showClear]="true"></p-dropdown>
                    <span>
                        <p-message severity="error" text="Verifique entidad"
                            *ngIf="!form.controls['id_usuario'].valid&&form.controls['id_usuario'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true"></div>



                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <button pButton type="button" label="Guardar" (click)="save()"></button>
                </div>
                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <button pButton type="button" label="Limpiar" (click)="clean()"></button>
                </div>

            </div>
        </form>
    </div>
</p-card>




<p-table [tableStyle]="{'table-layout':'auto'}" [columns]="cols" [value]="contenidos" [lazy]="true"
    (onLazyLoad)="loadContenidoLazy($event)" [paginator]="pagitatorTable" [rows]="rowsTable" [customSort]="true"
    [rowsPerPageOptions]="[10,20,30]" [totalRecords]="totalRecords" [loading]="loading" selectionMode="single"
    [(selection)]="selectedContenido" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="caption">
        Lista Contenido
        <div class="ui-inputgroup searchbox ui-fluid" *ngIf="true">
            <input type="text" (keyup.enter)="filtrar()" pInputText [(ngModel)]="filtro">
            <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" *ngIf="col.orden"></p-sortIcon>
            </th>
            <th colspan="2">
                Acciones
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                <div *ngIf="col.field !== 'fecha'"> {{rowData[col.field] }}</div>
                <div *ngIf="col.field === 'fecha'"> {{rowData[col.field] | date:"dd/MM/yyyy"}}</div>
            </td>
            <td *ngIf="true">
                <button pButton type="button" label="Editar" (click)="loadSelect(rowData['id'])"></button>
            </td>
            <td *ngIf="false">
                <button pButton type="button" label="Eliminar" (click)="delete()"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </ng-template>
</p-table>


<p-dialog header="Detalle" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
    [style]="{width: '80%'}">
    <div class="ui-g ui-fluid" *ngIf="contenido">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="id">id</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="id" [(ngModel)]="contenido.id" />
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="titulo">titulo</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="titulo" [(ngModel)]="contenido.titulo" />
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="descripcion">descripcion</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="descripcion" [(ngModel)]="contenido.descripcion" />
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="fecha">fecha</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="fecha" [(ngModel)]="contenido.fecha" />
            </div>
        </div>


    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>