

.btn-primary {
    background-color: #0078ae;
}



.form-signin-heading {
    text-align: center;
}

.jumbotron {
    background-color: white;
    margin-top: 25%;
    padding: 4rem 4rem;
}

.ui-float-label {
    margin-top: 45px;
}

.ui-float-label>label {
    padding-left: 9px;
}

.ui-inputtext {
    width: 100%;
    line-height: 2;
}

