<div class="container slide-in-top">



  <div class="ui-g">
    <div class="ui-g-3"></div>

    <div class="ui-g-6" *ngIf="_aut.autenticado !== undefined">
      <div class="jumbotron">


        <form class="form-signin" [formGroup]="form" (ngSubmit)="ingresar()">
          <h2 class="form-signin-heading">Login</h2>

          <span class="ui-float-label">
            <input id="login" type="text" size="30" pInputText formControlName="login">
            <label for="float-input">Usuario</label>
          </span>
          <p-message severity="error" text="El nombre de usuario es requerido" *ngIf="form.controls['login'].errors?.required && form.controls['login'].dirty"></p-message>

          <span class="ui-float-label">
            <input id="password" type="password" size="30" pInputText formControlName="password">
            <label for="float-input">Contraseña</label>
          </span>
          <p-message severity="error" text="La contraseña es requerida" *ngIf="form.controls['password'].errors?.required && form.controls['password'].dirty"></p-message>
          <p-message severity="error" text="La contraseña es de minimo 5 caracteres" *ngIf="form.controls['password'].errors?.minlength"></p-message>

          <button [disabled]="form.invalid" class="btn btn-lg btn-primary btn-block" style="margin-top: 45px;" type="submit">Enviar</button>
        </form>

 
      </div>
    </div>

    <div class="ui-g-3"></div>
  </div>




</div>

