<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-card>
    <div class="slide-in-right">
        <form [formGroup]="form">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <div class="text-center">
                        <h5>
                            Entidad
                        </h5>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="false">
                    <label>id</label>
                    <input id="input" type="number" pInputText formControlName="id" [(ngModel)]="id">
                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['id'].valid&&form.controls['id'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <label>nit</label>
                    <input id="input" type="number" pInputText formControlName="nit" [(ngModel)]="nit">
                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['nit'].valid&&form.controls['nit'].dirty">
                        </p-message>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <label>nombre</label>
                    <input type="text" pInputText formControlName="nombre" [(ngModel)]="nombre">
                    <span>
                        <p-message severity="error" text="Verifique"
                            *ngIf="!form.controls['nombre'].valid&&form.controls['nombre'].dirty">
                        </p-message>
                    </span>
                </div>



                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <button pButton type="button" label="Guardar" (click)="save()"></button>
                </div>
                <div class="ui-g-12 ui-md-6" *ngIf="true">
                    <button pButton type="button" label="Limpiar" (click)="clean()"></button>
                </div>

            </div>
        </form>
    </div>
</p-card>




<p-table [tableStyle]="{'table-layout':'auto'}" [columns]="cols" [value]="entidads" [lazy]="true"
    (onLazyLoad)="loadEntidadLazy($event)" [paginator]="pagitatorTable" [rows]="rowsTable" [customSort]="true"
    [rowsPerPageOptions]="[10,20,30]" [totalRecords]="totalRecords" [loading]="loading" selectionMode="single"
    [(selection)]="selectedEntidad" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="caption">
        Lista Entidad
        <div class="ui-inputgroup searchbox ui-fluid" *ngIf="true">
            <input type="text" (keyup.enter)="filtrar()" pInputText [(ngModel)]="filtro">
            <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" *ngIf="col.orden"></p-sortIcon>
            </th>
            <th colspan="2">
                Acciones
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td *ngIf="true">
                <button pButton type="button" label="Editar" (click)="loadSelect(rowData['id'])"></button>
            </td>
            <td *ngIf="false">
                <button pButton type="button" label="Eliminar" (click)="delete()"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </ng-template>
</p-table>


<p-dialog header="Detalle" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
    [style]="{width: '80%'}">
    <div class="ui-g ui-fluid" *ngIf="entidad">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="id">id</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="id" [(ngModel)]="entidad.id" />
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="nit">nit</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="nit" [(ngModel)]="entidad.nit" />
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="nombre">nombre</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="nombre" [(ngModel)]="entidad.nombre" />
            </div>
        </div>


    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>