<nav class="slide-in-left navbar navbar-expand-lg navbar-light bg-dark" *ngIf="_aut.autenticado">
  <div class="container-fluid"> 

    <button type="button" id="sidebarCollapse" class="btn btn-dark" (click)="_util.ocultarMenuRol = !_util.ocultarMenuRol">
      <i class="fa fa-bars"></i>
      <span class="bb">Menu</span>
    </button>
    
    <button class="btn btn-dark d-inline-block d-lg-none " type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation" (click)="menu.toggle($event)">
      <i class="fa fa-address-card-o"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <button type="button" class="btn btn-dark" (click)="menu.toggle($event)">
            <i class="fa fa-address-card-o"></i>
            <span class="bb">{{ _aut.usuarioConectado.nombre }} </span>
          </button>
        </li>
      </ul>
    </div>

  </div>
</nav>

<br />

<p-menu #menu [popup]="true" [model]="menuUsuario"></p-menu>

